.loginForm > input[type='submit']{
    width: 251px;
    height: 35px;
    font-size: 16px;
}
.loginBox{
    margin-top: 80px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 30px 60px;
    width: 252px;
    background: rgba(0,0,0,0.2);
    color: #ffffff;
}
.login-bg{
    height: 400px;
    background-image:url("../img/0.jpg");
    background-position: 50% 50%;
}