#set($layout="inc\loginLayout.vm")
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/register"><b>Wed-KanBan</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">注册为新用户</p>

        <form action="/register" method="post">
            <div class="form-group has-feedback">
                <input id="inputUser" name="userId" type="text" class="form-control" placeholder="登录账号">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="inputName" name="userName" type="text" class="form-control" placeholder="显示名称">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="inputPwd" name="userPwd" type="password" class="form-control" placeholder="登录密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="confirmPwd" name="confirmPwd" type="password" class="form-control" placeholder="确认密码">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-offset-8 col-xs-4">
                    <button class="btn btn-primary btn-block btn-flat" onclick="ajaxData()>注  册</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="login.html" class="text-center">已有账号？</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
<script type="text/javascript">
    //定义方法
    function ajaxData() {
        //这个是获取input数据，$("#inputUser")表示获取id为inputUser的input
        var id = $("#inputUser").val();
        var name = $("#inputName").val();
        var pwd = $("#inputPwd").val();
        var confirmpwd = $("#confirmPwd").val();
        if (confirmpwd != pwd) {
            alert("两次输入密码不一致!");
            return;
        }
        var url = "/checkUser";
        $.ajax({
            url: url,
            type: "POST",
            data: {userId: id, userName: name, userPwd: pwd},
            dataType: "text",
            success: function (data) {
                if (data == "EXIST") {
                    alert("用户已存在");
                    return;
                }
            }
        });
        document.getElementById("loginForm").submit();
    }
</script>
</body>