#set($assetsServer="http://localhost:80")
#set($title="WED-KANBAN")
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$!{title} </title>
    <link rel="stylesheet" href="assert/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assert/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assert/static/css/common.css">
    <link rel="stylesheet" href="assert/static/css/login.css">
    <script type="text/javascript" src="assert/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="assert/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assert/static/js/validate.js"></script>
</head>
<body>
$screen_content
</body>