#set($assetsServer="http://localhost:80")
#set($title="Wed-KanBan")
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wed-KanBan</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../../../assert/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../../assert/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../../assert/css/AdminLTE.min.css">
</head>
<body>
$screen_content
</body>